<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>

        <h2>Formulario CLientes</h2>
        <form method="post" action="/clientes/modificar">
            <input type="hidden" name="cliente_id" value="<%= cliente.id %>" />

            <div>
                <label class="form-label">Nombre:</label>
                <input name="cliente_nombre" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.nombre %>" />
            </div>

            <div>
                <label class="form-label">Apellido:</label>
                <input name="cliente_apellido" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.apellidos %>" />
            </div>

            <div>
                <label class="form-label">FOTO:</label>
                <input name="cliente_dni" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.dni %>" />
            </div>

            <div>
                <label class="form-label">Correo:</label>
                <input name="cliente_correo" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.correo %>" />
            </div>
            <div>
                <label class="form-label">Telefono:</label>
                <input name="cliente_telefono" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.telefono %>" />
            </div>
            <div>
                <label class="form-label">Direccion:</label>
                <input name="cliente_direccion" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.direccion%>" />
            </div>
            <div>
                <label class="form-label">Distrito:</label>
                <input name="cliente_distrito" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.distrito %>" />
            </div>

            <div>
                <label class="form-label">Provincia:</label>
                <input name="cliente_provincia" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.provincia %>" />
            </div>

            <div>
                <label class="form-label">Departamento:</label>
                <input name="cliente_departamento" 
                    type="text" 
                    class="form-control"
                    value="<%= cliente.departamento %>" />
            </div>

            <div>
                <label class="form-label">Estado:</label>


                <select name="juego_estado_id" class="form-select">
                    <option value="-1">---------Selecciones una opcion---------</option>
                    <option value="<%= cliente.estado %>"> pendiente de validación </option>
                    <option value="<%= cliente.estado %>"> validado </option>
                    <option value="<%= cliente.estado %>"> dado de baja </option>
                </select>

            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
        </form>

        <%- include('footer') %>
    </body>
</html>

