<!DOCTYPE html>
<html>
    <head>
        <title>ADMIN</title>
		<link rel="stylesheet" href="/css/index.css">
		<script></script>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body class="container">
    <%- include('navbar') %>
    <h2>Filtro Juego</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar equipo Local" title="Type in a name">
    <input type="text" id="myInput1" onkeyup="myFunction2()" placeholder="Buscar equipo Visitante" title="Type in a name">
    <table class="table table-hover" id="myTable">
            <thead>
                <tr class="header">
                    <th scope="col">Local</th>
                    <th scope="col">Visitante</th>
                </tr>
            </thead>
            <tbody>
				<% partidas.forEach( (partida)=> { %>
					<tr>
						<td value="<%= partida.id_local%>"><%= partida.local %></td>
						<td value="<%= partida.id_visita%>"><%= partida.visitante %></td>
					</tr>
				<% }) %>
            </tbody>
        </table>
        <a class="btn btn-success" href="/juegos">Volver</a>
 <%- include('footer') %>
</body>
</html>